$light-pink: #f8dde9;
$pink: #f59ec5;
$magenta: #DC457A;
$gray: #696969;
$light-gray:rgb(161, 161, 161);

$titles: 500 3.8rem "Lily Script One", system-ui;

$main-padding: 0 10rem;
$smaller-padding: 0 5rem;
$margin-titles: 40px;