@import "./variables";

.about {
    position: relative;
    max-height: 100%;
    padding: $main-padding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;

    @media (width < 1200px) {
        padding: $smaller-padding;
    }

    @media (width < 850px) {
        padding: 0 5%;
        align-items: center;
        overflow-x: hidden;
    }

    h3 {
        margin-bottom: 5px;
    }

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        padding: 0 80px;
        flex-grow: 1;

        @media (width < 1200px) {
            padding: 0 30px;
        }

        @media (width < 850px) {
            flex-direction: column;
            gap: 50px;
            padding: 0 5%;
        }

        &--desc {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            
        }

        &--skills {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 50px;
        }
    }

    &__arrows {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }

}

.about-img {
    position: relative;
    width: 100%;
    height: 250px;

    @media (width < 850px) {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__pic {
        position: absolute;
        width: 230px;
        height: 230px;
        border-radius: 100%;
        background-image: url(../images/profile.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
        transform: translateY(-20px);
        opacity: 0;
        animation: fade-in 0.5s forwards;
    }
    
    &__circles {
        width: 100%;
        position: absolute;
        left: 30px;
        z-index: 0;

        @media (width < 850px) {
            left: 15%;
        }

        &--1 {
            width: 230px;
            height: 230px;
            border-radius: 100%;
            background-color: $light-pink;
            transform: translate(20px, 20px);
            animation: circle-1 1s forwards;
        }

        &--2 {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            background-color: $light-pink;
            transform: translate(270px, -270px);
            animation: circle-2 1s forwards;

            @media (width < 850px) {
                display: none;
            }
        }

        &--3 {
            width: 90px;
            height: 90px;
            border-radius: 100%;
            background-color: $light-pink;
            transform: translate(350px, -220px);
            animation: circle-3 1s forwards;

            @media (width < 850px) {
                display: none;
            }
        }
    }
}

@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes circle-1 {
    0% {transform: translate(20px, 20px)}
    100% {transform: translate(0px, 0px)}
}

@keyframes circle-2 {
    0% {transform: translate(270px, -270px);}
    100% {transform: translate(250px, -250px);}
}

@keyframes circle-3 {
    0% {transform: translate(350px, -220px);}
    100% {transform: translate(370px, -230px);}
}

.languages {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 0px;
    overflow: hidden;

    @media (width < 850px) {
        flex-direction: column;
        gap: 5px;
    }

    &__list {
        display: flex;
        gap: 8px;
        transform: translateY(-250%);
        animation: 1s skills-animation forwards;

        @media (width < 1488px) {
            min-width: 136.5px;
            justify-content: space-between;
        }

        &--text {
            text-align: left;

            @media (width < 850px) {
                line-height: 30px;
            }
        }

        &--bullets {
            color: $magenta;
            font-size: 17px;
            white-space: nowrap;

            span {
                color: $light-gray;
            }

            @media (width < 850px) {
                line-height: 30px;
            }

        }
    }
    
}

.skills-items {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 70%;

    p {
        transform: translateY(-250%);
        animation: 1s skills-animation 0.2s forwards;

        &::after {
            content: "â—";
            margin-left: 10px;
            font-size: 14px;
        }

        &:last-child {
            &::after {
                content: "";
                margin-left: 0px;
            }
        }
    }
}

@keyframes skills-animation {
    0% {transform: translateY(-250%)}
    100% {transform: translateY(0%)}
}

