@import "./variables";

 * {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    z-index: 1;
 }

 @import "./Header.scss";
 @import "./Footer.scss";
 @import "./Home.scss";
 @import "./About.scss";
 @import "./Projects.scss";
 @import "./Project.scss";
 @import "./Contact.scss";

 .page {
   width: 100vw;
   height: 100vh;
   display: grid;
   grid-template-rows: 10% 80% 10%;

   @media (width < 850px) {
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-size: 20px;
   }

 }

 a {
  color: inherit;
  text-decoration: none;
 }

 h2 {
  font: $titles;
  color: $magenta;
  text-shadow: 3px 3px 0px $light-pink;

  @media (width < 850px) {
    font-size: 4.3rem;
  }
  
 }

 .arrow-right {
  position: absolute;
  font-size: 30px;
  bottom: 20px;
  right: 0;
  margin-right: 10rem;
  color: $magenta;
  cursor: pointer;
  animation: arrow 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

    &:hover {
      color: $pink;
    }

    @media (width < 1200px) {
      margin-right: 6rem;
  }

    @media (width < 850px) {
      display: none;
    }

 }

 .arrow-left {
  position: absolute;
  font-size: 30px;
  bottom: 20px;
  left: 0;
  margin-left: 10rem;
  color: $magenta;
  cursor: pointer;
  animation: arrow-left 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

    &:hover {
      color: $pink;
    }

    @media (width < 1200px) {
      margin-left: 6rem;
    }

    @media (width < 850px) {
      display: none;
    }
 }

 @keyframes arrow {
    0% {transform: translateX(0px)}
    95% {transform: translateX(20px)}
    100% {transform: translateX(20px)}
 }

 @keyframes arrow-left {
  0% {transform: translateX(0px)}
  95% {transform: translateX(-20px)}
  100% {transform: translateX(-20px)}
}

