@import "./variables";

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: $main-padding;

    @media (width < 1200px) {
        padding: $smaller-padding;
    }

    @media (width < 850px) {
        padding: 5%;
    }

    @media (width < 450px) {
        font-size: 14px;
    }
    
    
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    


    &__list {
        padding-right: 20px;
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        @media (width < 850px) {
            justify-content: center;
            padding-right: 5%;
        }

        li {

            a {
                &:hover {
                    color: $magenta;
                }
            }

            &::after {
                content: "|";
                padding-left: 10px;
                padding-right: 10px;
            }

            &:nth-last-child(1){
                &::after {
                    content: "";
                    padding: 0;
                }
            }
        }
    }
}

.lang-container {
    position: absolute;
    right: 5%;
    top: 3.5%;
    z-index: 5;

    @media (width < 520px) {
        right: 2%;
        top: 2%;
    }

    @media (width < 450px) {
        top: 2%;
        right: 5%;
    }

    @media (width < 380px) {
        transform: scale(0.7);
        right: 1%;
        top: 1%;
    }
}

.lang {
    position: relative;

    &__code {
        color: white;
        font-weight: 500;
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        background-color: $magenta;
        cursor: pointer;

        &:hover {
            background-color: $pink;
        }

        @media (width < 850px) {
            padding: 17px;
        }
    
        @media (width < 450px) {
            padding: 5px;
        }
    }

    
}

.lang-dropdown {
    position: absolute;
    top: 120%;
    left: 15%;

    &__code {
        color: $magenta;
        display: block;
        cursor: pointer;
        font-weight: 600;
        transform: scaleY(0) translateY(-20px);
        transform-origin: top center;
        animation: lang-animation 0.2s forwards;
        &:hover {
            color: $pink;
        }
    }
}

.reverse {
    transform: scaleY(1) translateY(-0px);
    transform-origin: top center;
    animation: lang-animation-reverse 0.2s forwards;
}

@keyframes lang-animation {
    0% {transform: scaleY(0) translateY(-20px)};
    100% {transform: scaleY(1) translateY(-0px)}
}

@keyframes lang-animation-reverse {
    0% {transform: scaleY(1) translateY(-0px)}
    100% {transform: scaleY(0) translateY(-20px)}
}

.hidden {
    display: none;
}