@import "./variables";

.home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media (width < 850px) {
        flex-direction: column;
    }

    @media (width < 450px) {
        justify-content: flex-start;
    }

    &__pic {
        background-image: url(../images/me.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        width: 15%;
        height: 70%;

        @media (width < 1200px) {
            width: 25%;
        }

        @media (width < 850px) {
            width: 45%;
        }
        
        @media (width < 450px) {
            width: 70%;
            height: 80%;
        }

    }
}

.main-title {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    @media (width < 850px) {
        justify-content: center;
        align-items: center;
        height: auto;
    }

    &__title {
        font-family: "Lily Script One", system-ui;
        font-size: 82px;
        color: $magenta;
        font-weight: 400;
        text-shadow: 3px 3px 0px white;

        @media (width < 850px) {
            text-shadow: 3px 3px 0px $light-pink;
        }

        span {
            font-family: "Lily Script One", system-ui;
            font-size: 82px;
            color: $magenta;
            font-weight: 400;
            text-shadow: 3px 3px 0px $light-pink;
        }

        @media (width < 850px) {
            text-align: center;
            line-height: 90%;
        }

        @media (width < 450px) {
            margin-top: 5%;
        }


    }

    &__subtitle {
        font-family: "Quicksand", sans-serif;
        font-size: 36px;
        color: $magenta;
        transform: translateY(-10px);

        @media (width < 850px) {
            transform: translateY(10px);
            margin-bottom: 5%;
        }

        @media (width < 450px) {
            font-size: 28px;
        }
    }

    &__circles {
        position:absolute;
        z-index: 0;
        top: -70px;
        left: -100px;

        @media (width < 850px) {
            top: 110%;
            transform: translateX(30%);
        }
        
        &--big {
            width: 280px;
            height: 280px;
            border-radius: 100%;
            background-color: $light-pink;
            @media (width < 450px) {
                width: 200px;
                height: 200px;
                transform: translateX(30%);
            }
        }

        &--small {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            background-color: $light-pink;
            transform: translateX(280px);

            @media (width < 450px) {
                display: none;
            }
        }

        @media (width < 1024px) {
            left: -50px;
        }
    }
}