@import "./variables";

.home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media (width < 850px) {
        flex-direction: column;
    }

    @media (width < 450px) {
        justify-content: flex-start;
    }

    &__pic {
        background-image: url(../images/me.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        width: 15%;
        height: 70%;

        @media (width < 1200px) {
            width: 25%;
        }

        @media (width < 850px) {
            width: 45%;
        }
        
        @media (width < 450px) {
            width: 70%;
            height: 80%;
        }

    }
}

.main-title {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    @media (width < 850px) {
        justify-content: center;
        align-items: center;
        height: auto;
    }

    &__title {
        span {
            font-family: "Lily Script One", system-ui;
            font-size: 82px;
            color: $magenta;
            font-weight: 400;
            text-shadow: 3px 3px 0px white;
            opacity: 0;
            animation: title-animation 0.5s forwards;

            @media (width < 850px) {
                text-shadow: 3px 3px 0px $light-pink;
            }
        }

        @media (width < 850px) {
            margin-top: 15px;
        }

        .surname {
            span {
                font-family: "Lily Script One", system-ui;
                font-size: 82px;
                color: $magenta;
                font-weight: 400;
                text-shadow: 3px 3px 0px $light-pink;

                
            }

        }

        @media (width < 850px) {
            text-align: center;
            line-height: 90%;
        }

        @media (width < 450px) {
            margin-top: 10%;
            padding: 0 5px;
        }

    }

    &__subtitle {
        font-family: "Quicksand", sans-serif;
        font-size: 36px;
        color: $magenta;
        transform: translateY(-10px);
        width: fit-content;

        span {
            opacity: 0;
            animation: subtitle-animation 0.5s forwards;

            &:last-child {
                &::after {
                    content: "|";
                    color: black;
                    animation: border 1s step-end infinite;
                    text-shadow: none;
                    margin-left: 5px;
                    font-weight: 200;
                    font-size: 30px;
                }
            }
        }


        @media (width < 850px) {
            transform: translateY(10px);
            margin-bottom: 5%;
        }

        @media (width < 450px) {
            font-size: 28px;
        }
    }

    &__circles {
        position:absolute;
        z-index: 0;
        top: -70px;
        left: -100px;

        @media (width < 850px) {
            top: 110%;
            transform: translateX(30%);
        }
        
        &--big {
            width: 280px;
            height: 280px;
            border-radius: 100%;
            background-color: $light-pink;
            @media (width < 450px) {
                width: 200px;
                height: 200px;
                transform: translateX(30%);
            }
        }

        &--small {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            background-color: $light-pink;
            transform: translateX(280px);

            @media (width < 450px) {
                display: none;
            }
        }

        @media (width < 1024px) {
            left: -50px;
        }
    }
}

@keyframes title-animation {
    0% { bottom: -2px; opacity: 1; }
    50% { bottom: 2px; }
    100% { bottom: 0; opacity: 1; }
}

@keyframes subtitle-animation {
    0% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes border {
    0%, 49% { opacity: 0 }
    50%, 99% { opacity: 1 }
  }