@import "./variables";

.projects {
    position: relative;
    padding: $main-padding;

    @media (width < 1200px) {
        padding: $smaller-padding;
    }

    @media (width < 850px) {
        padding: 0 5%;
    }

    &__title {
        margin-bottom: 30px;

        @media (width < 850px) {
            text-align: center;
        }
    }

    &__main {
        padding: 0 5rem;
        width: 100%;
        height: 70%;
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr 1fr;
        justify-items: center;

        @media (width < 1200px) {
            padding: 0;
        }

        @media (width < 850px) {
            display: flex;
            flex-direction: column;
            gap: 25px;
            align-items: center;
            justify-content: flex-start;
        }
    }

    &__arrows {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
}

.projects__main div {

    &:nth-child(1) {
        grid-column-start: 2;
        grid-column-end: 7;
    }

    &:nth-child(2) {
        grid-column-start: 7;
        grid-column-end: 12;
    }

    &:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    &:nth-child(4) {
        grid-column-start: 5;
        grid-column-end: 9;
    }

    &:nth-child(5) {
        grid-column-start: 9;
        grid-column-end: 13;
    }

}







