@import "./variables";

.project {
    position: relative;
    min-width: 100%;
    border-radius: 10px;
    border: 2px solid $pink;
    box-shadow: 4px 4px 1px $pink;
    transform: scale(95%);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   

    @media (width < 1200px) {
        transform: scale(100%);
    }

    @media (width < 850px) {
        min-height: 250px;
    }

    &__desc {
        z-index: 2;
        position: relative;
        background-color: $magenta;
        color: white;
        font-weight: 500;
        padding: 10px 20px;
        min-height: 50%;

        &--tech {
            position: absolute;
            transform: translateY(-150%);
            transform-origin: bottom left;
            left: 0;
            display: flex;
            gap: 15px;
            padding-left: 20px;
            padding-bottom: 4px;
            flex-wrap: wrap;
            row-gap: 5px;

            p {
                transition: all 0.5s;
                transform: scale(0%);
                font-weight: 600;
                color: $magenta;
                text-shadow: 4px 4px 0px white, 3px 3px 0px white, 2px 2px 0px white;
            }

            @media (width < 1350px) {
                transform: translateY(-127%);

                p {
                    text-shadow: none;
                }
                
            }
        }
    }

    &__title {
        z-index: 2;
        padding-left: 20px;
        text-shadow: 2px 2px 0px white;

        &::before {
            content: "â—";
            color: $magenta;
            margin-right: 5px;
        }
    }

    &__white {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0;
    }

    &:hover {
        transform: scale(100%);

        .project__desc {
            transition: all 0.5s ease-in-out;
            transform: translateY(40%);

            @media (width < 1350px) {
                transform: translateY(20%);
            }
            
            @media (width < 1200px) {
                transform: translateY(200%);
            }            

            &--tech p {

                &:nth-child(1) {
                    transition: 0.5s all 0.5s;
                    transform: scale(100%);
                }

                &:nth-child(2) {
                    transition: 0.8s all 0.5s;
                    transform: scale(100%);
                }

                &:nth-child(3) {
                    transition: 1.1s all 0.5s;
                    transform: scale(100%);
                }

                &:nth-child(4) {
                    transition: 1.4s all 0.5s;
                    transform: scale(100%);
                }

                &:nth-child(5) {
                    transition: 1.7s all 0.5s;
                    transform: scale(100%);
                }

                &:nth-child(6) {
                    transition: 2s all 0.5s;
                    transform: scale(100%);
                }
            }
        }

        .project__title {
            transition: all 0.5s ease-in-out;
            transform: translateX(0%);
        }

        .project__white {
            transition: all 0.5s ease-in-out;
            opacity: 0.7;

            @media (width < 850px) {
                opacity: 0;
            }
        }

    }

    &:not(:hover) {
        .project__desc {
            transition: all 0.5s ease-in-out;
            transform: translateY(200%);
        }

        .project__title {
            transition: all 0.5s ease-in-out;
            transform: translateX(-100%);

            @media (width < 1200px) {
                transform: translateX(20%);
                display: inline-block;
                background-color: white;
                width: fit-content;
                max-width: 75%;
                padding: 5px 10px;
                border-radius: 10px;
                box-shadow: 3px 3px 0px $pink;
            }
        }

        @media (width < 1200px) {

            .project__desc--tech {
                top: -100%;
                width: 100%;
                background-color: rgba(255, 255, 255);
                padding: 5px 30px;

                @media (width < 850px) {
                    font-size: 16px;
                }
            }

            .project__desc--tech p {

                &:nth-child(1) {
                    transition: 0.5s all 0.5s;
                    transform: scale(100%);
                }

                &:nth-child(2) {
                    transition: 0.8s all 0.5s;
                    transform: scale(100%);
                }

                &:nth-child(3) {
                    transition: 1.1s all 0.5s;
                    transform: scale(100%);
                }

                &:nth-child(4) {
                    transition: 1.1s all 0.5s;
                    transform: scale(100%);
                }

                &:nth-child(5) {
                    transition: 1.1s all 0.5s;
                    transform: scale(100%);
                }

                &:nth-child(6) {
                    transition: 1.1s all 0.5s;
                    transform: scale(100%);
                }
            }
        }

    }

    @media (width < 1200px) {
        &:hover {
            .project__desc--tech {
                top: -100%;
                width: 100%;
                background-color: rgba(255, 255, 255);
                padding: 5px 30px;

                @media (width < 850px) {
                    font-size: 16px;
                }
            }

            .project__title {
                transform: translateX(20%);
                display: inline-block;
                background-color: white;
                width: fit-content;
                max-width: 75%;
                padding: 5px 10px;
                border-radius: 10px;
                box-shadow: 3px 3px 0px $pink;
            }
        }
    }
}


.song-share {
    background-image: url(../images/song-share.png);
}

.nanas-quest {
    background-image: url(../images/nanas-quest.png);
}

.pkm-finder {
    background-image: url(../images/pkm-finder.png);
}

.relationships {
    background-image: url(../images/relationships.png);
}

.books {
    background-image: url(../images/books.png);
}





